# macOS specific junk
.DS_Store
._*

# Xcode specific
xcuserdata/
*.xcuserstate

# (allow VSCode config files)
#.vscode

# VSCode build files
build/

# Swift/Objective-C specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds specific
timeline.xctimeline
playground.xcworkspace

# Xcode Derived Data
DerivedData/

# Swift Package Manager specific
.build/
